@import url(reset.css);
@import url(header.css);
@import url(main.css);
@import url(footer.css);

@import url('https://webfontworld.github.io/kopus/KoPubWorldBatang.css');

html{font-family: "KoPubWorldBatang";}



@media screen and (max-width: 1199px) {
#header,#container,#footer{
  font-size: 80%;
}
h2{
  font-size: 40px;
}
h3{
  font-size: 15px;
}
section ul>li{
  line-height: 0.8;
}
}
@media screen and (max-width: 767px) {
#header ,#container,#footer {
  font-size: 70%;
}
h2{
  font-size: 20px;
}
h3{
  font-size: 10px;
}

/*모바일 사이즈*/
}
